Repository DalgoT4D/dbt_ummeed: changes, and which pre-commit hooks are due for each by the changed paths.
All: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dbt-osmosis-yaml-organize
        name: Organize dbt schema.yml files
        entry: dbt-osmosis
        args: ["yaml", "organize"]
        language: system
        types: [yaml]
        files: ^models/

      - id: dbt-osmosis-yaml-refactor
        name: Refactor and synthesize dbt model columns
        entry: dbt-osmosis
        args: ["yaml", "refactor", "--synthesize"]
        language: system
        types: [sql]
        files: ^models/

small fix for cicd
  .github/workflows/.dbt-ci.yml
Due: none

deleted touchpoint
  models/prod/clinic_touchpoint.sql
Due: dbt-osmosis-yaml-refactor

removed redundant doc
  models/prod/_clinic_touchpoint.yml
Due: dbt-osmosis-yaml-organize

snapshots added
  snapshots/clinic_phone_number_snapshot.sql
  snapshots/participant_phone_number_snapshot.sql
Due: none

added uat feedback changes
  macros/validate_date.sql
  models/intermediate/_appointment_data.yml
  models/intermediate/appointment_data.sql
  models/prod/_appointment_details.yml
  models/prod/_cancelled_clinic.yml
  models/prod/_tms_training_master.yml
  models/prod/_total_participants_disagg.yml
  models/prod/appointment_details.sql
  models/prod/cancelled_clinic.sql
  models/prod/clinic_bay_mgmt.sql
  models/prod/pathways.sql
  models/prod/tms_training_master.sql
  models/prod/total_participants_disagg.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

fixed linting
  .sqlfluff
  models/prod/appointment_details.sql
  models/prod/cancelled_clinic.sql
  models/prod/clinic_bay_mgmt.sql
  models/prod/pathways.sql
  models/prod/tms_training_master.sql
  models/prod/total_participants_disagg.sql
  snapshots/clinic_phone_number_snapshot.sql
  snapshots/participant_phone_number_snapshot.sql
Due: dbt-osmosis-yaml-refactor

test
  .pre-commit-config.yaml
  coverage-test.json
  models/intermediate/_appointment_data.yml
  models/intermediate/_clinic_data.yml
  models/intermediate/_no_registration.yml
  models/intermediate/_participant_impact.yml
  models/intermediate/_registered_patient.yml
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
  models/intermediate/no_registration.sql
  models/intermediate/participant_impact.sql
  models/intermediate/registered_patient.sql
  models/prod/_cancelled_clinic.yml
  models/prod/_clinic_bay_mgmt.yml
  models/prod/_pathways.yml
  models/prod/cancelled_clinic.sql
  models/prod/clinic_bay_mgmt.sql
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

linting error
  models/intermediate/clinic_data.sql
  models/prod/cancelled_clinic.sql
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-refactor

small fix
  coverage-test.json
  models/prod/_pathways.yml
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

changed macro
  macros/generate_schema_name.sql
Due: none

added new col
  .vscode/settings.json
  coverage-test.json
  models/intermediate/_participant_impact.yml
  models/intermediate/participant_impact.sql
  models/intermediate/registered_patient.sql
  models/intermediate/schema.yml
  models/prod/_tms_training_master.yml
  models/prod/_total_participants_disagg.yml
  models/prod/pathways.sql
  models/prod/tms_training_master.sql
  models/prod/total_participants_disagg.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

fixed age calculation
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

fixed pathways
  coverage-test.json
  models/prod/_pathways.yml
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

fixed sources for new connector
  models/schema.yml
Due: dbt-osmosis-yaml-organize

changed cicd
  .github/workflows/.dbt-ci.yml
Due: none

cicd fixes pt 2
  .github/workflows/.dbt-ci.yml
Due: none

linting fixes
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
  models/intermediate/registered_patient.sql
  models/prod/_pathways.yml
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

changed sqlfluff rules
  .sqlfluff
Due: none

demo
  .pre-commit-config.yaml
  models/prod/cancelled_clinic_2.sql
  models/prod/pathways.sql
Due: dbt-osmosis-yaml-refactor

fixed financial year calculations in participant impact
  coverage-test.json
  models/prod/total_participants_disagg.sql
Due: dbt-osmosis-yaml-refactor

Modified cleaning transformation for doctor in appointment_data and clinic_data and joined with doctor_level_mapping
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Wrote documentation of doctor level column in appointment_data and clinic_data yml file
  models/intermediate/_appointment_data.yml
  models/intermediate/_clinic_data.yml
Due: dbt-osmosis-yaml-organize

Included doctor_level in cancelled_clinic and clinic_bay_mgmt
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
  models/prod/cancelled_clinic.sql
  models/prod/clinic_bay_mgmt.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

Update appointment_details.sql
  models/prod/appointment_details.sql
Due: dbt-osmosis-yaml-refactor

Added documentation to the prod tables(appointment_details, cancelled_clinic, clinic_bay_mgmt)
  models/prod/_appointment_details.yml
  models/prod/_cancelled_clinic.yml
  models/prod/_clinic_bay_mgmt.yml
  models/prod/appointment_details.sql
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

Modified doctor transformation
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Modified consultant data transformation
  models/intermediate/appointment_data.sql
Due: dbt-osmosis-yaml-refactor

Fixed syntax error
  models/intermediate/appointment_data.sql
Due: dbt-osmosis-yaml-refactor

Corrected syntax error in FROM clause for appointment_details
  models/intermediate/appointment_data.sql
Due: dbt-osmosis-yaml-refactor

Cleaning Transformation for appointment type
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Local fix for consultation_type values
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Fix for Consultation type values with long hyphen
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Calculated Training Impact Reach on Monthly Basis
  models/intermediate/_no_registration.yml
  models/intermediate/_participant_impact.yml
  models/intermediate/no_registration.sql
  models/intermediate/participant_impact.sql
  models/prod/_tms_training_master.yml
  models/prod/_total_participants_disagg.yml
  models/prod/tms_training_master.sql
  models/prod/total_participants_disagg.sql
  models/schema.yml
Due: dbt-osmosis-yaml-organize, dbt-osmosis-yaml-refactor

Modified the logic of doctor level for Mrs salutation
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Edited a comment for the doctor value cleaning'
  models/intermediate/appointment_data.sql
  models/intermediate/clinic_data.sql
Due: dbt-osmosis-yaml-refactor

Repaired the column name error in tms_training_master
  models/prod/tms_training_master.sql
Due: dbt-osmosis-yaml-refactor

Participant category column values are standardized to ensure data consistency
  models/prod/total_participants_disagg.sql
Due: dbt-osmosis-yaml-refactor
